/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #ff6f61, #de6b83, #ab47bc, #7e57c2);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

